* {
    border-color: var(--border-color-main);
    color: var(--color-accent);
    font-size: 16px;
}

body {
    font-family: 'poppins', sans-serif;

    @font-face {
        font-family: 'trap', sans-serif;
        src: url(fonts/trap-bold.otf) format('opentype');
    };
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: whitesmoke;
    border-color: inherit;
    /* background: linear-gradient(180deg, #FFF9BF 18.04%, #F5F5F5 78.24%); */
    /* background-color: rgb(255, 255, 255); */
}


body::before {
    content: "";
    height: 17vh;
    width: 100vw;
    background-image: url(pics/big_astherics.png);
    background-repeat: repeat;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

:root {
    --border-color-main: #CC2460;
    --color-accent: #188268;
    --color-secondary: #A026FF;
}

button {
    position: relative;
    font-family: trap;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--color-accent);
    padding: 1rem 2.5rem;
    border: var(--border-color-main) solid 3px;
    border-radius: 60px;
    width: fit-content;
    fill-opacity: 0;
    transition: .2s ease-in-out;
    background-color: #ffe06f11;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: 1s drag ease-out;
}

button:hover {

    border-bottom-width: 10px;

    background-color: #9d45c7;
    color: #FFF9BF;
    font-size: 1.8rem;
}




.body-overlay {
    /* background-color: var(--background-color-primary); */
    background-image: url(pics/noise-texture.png);
    mix-blend-mode: exclusion;
    background-repeat: repeat;
    background-size: 15% 15%;
    opacity: .05;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}




.bg-main {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

/* all the fonts setting go here*/
h1 {
    font-family: trap;
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.1rem;
    line-height: 2rem;
    font-family: trap;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: trap;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;

}

/*--------------animation to make something desappear----------------*/
.dissapear {
    transition: all;
    transition-delay: 1s;
    position: relative;
    animation: 1.5s 0s slide linear;
    animation-fill-mode: forwards;
}

.reappear {
    transition: all;
    transition-delay: 1s;
    position: relative;
    animation: 1.5s slide linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        left: 0;
    }

    60% {
        opacity: 0%;
    }

    100% {
        left: 110%;
        opacity: 0;
    }
}


/*--------------animation to make something dissappear----------------*/

/*--------------border style goes here----------------*/




.hover-box :hover {

    background-color: antiquewhite;
    transform: translateX(20px);
    transition: 2s;
    animation-timing-function: ease-in;

}

/*---------------border style end here----------------*/





/*--------------Table styles----------------*/
.table-cell {

    font-weight: 600;
    font-size: 0.8rem;
    height: 38px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;

}

/*--------------Table styles----------------*/




.page-wrapper {

    display: flex;
    flex-direction: column;
    max-width: 1450px;
    height: 90%;
    width: 90%;
    min-height: 620px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    border-width: 5px;

}

header {

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    min-width: 50px;
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 0;
    max-height: 60px;
    height: 9%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.logo-and-guest {

    display: flex;
    align-items: center;
    gap: 15px;
    width: auto;
    max-width: fit-content;
    padding: 14px 32px;
    padding-left: 4rem;
    border-right: solid;
    border-color: inherit;
    
}

.header-mid {

    display: flex;
    flex-grow: 1;
    padding: 5px 30px;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    gap: 30px;
    border-color: inherit;
   
        /* border-right: 2px solid; */
}

nav {
    border-left: 3px solid;
    padding: 5px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    Animation: 2s slide-out;
    animation-fill-mode:forwards;
    transition: all 2s ease-in;
    position: relative;
    left: 100%;
    border-color: inherit;
  }

@keyframes slide-out {
    0% {left: 0;
        display: flex;
       
    }
    100% {left: 60%;
        width: 0;;
    }
    
}

ul {

    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0%;

}

li {
    color: inherit;
    width: fit-content;

}

.join-us {

    display: flex;
    width: fit-content;
    padding: 5px 20px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-left: 2px solid;
    border-color: inherit;

}

.clients { 
    display: flex;
    flex-grow: 4;
    border-left: 3px solid;
    border-color:  inherit;
}

.preview-about {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 99.9%;
    width: 100%;
    position: relative;
    transition: all 1s;
}


.footer {
    height: auto;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    border-top: solid;
    border-color: inherit;
}


.announcement {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    padding: 5px 25px;
}

/*---------all portfolio related styles----------*/

.content-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    height: fit-content;
    overflow: auto;
    scrollbar-width: none;
    border-width: 3px 0px;
    animation: 2s 0s slide ease-out;
    position: relative;
    text-align: center;
}
.content-area p {
    margin-top: 10%;  
    max-width: 500px;
    width: 60%;
}
.founders {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @font-face {
        font-family: 'skribble', sans-serif;
        src: url(fonts/skribble.ttf) format('truetype');
    }

}
.founders-content {
   
    display: flex;
    flex-direction: column;
   align-items: center;
    font-family: skribble;
    font-size: 1.1rem;
    text-align: center;
}
.big-contributors {
    display: grid;
    
    grid: repeat(3, 50px) / auto-flow;
    
    font-family: skribble;
    font-size: 1.1rem;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.pic-frame {
    border-radius: 60%;
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
   
    border:#00702d solid 5px;
}
.pic-frame img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.close {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px;
    height: 100%;
    border-color: inherit;
}
/* +++++++++++++on load animations++++++++++++++++++ */
@keyframes move-in {
    0% {
        bottom: -100%;

    }

    30% {
        bottom: 0%;
    }
}

@keyframes drag {
    0% {
        left: 20%
    }

    100% {
        left: 1%
    }

}


@keyframes slide {
    0% {
        left: -20%;
        opacity: .0;
        border-bottom: 3px solid;

    }

    40% {
        opacity: .0
    }

    50% {
        opacity: .100;
      
    }

    100% {
        left: 0%;

    }

}

/* +++++++++++++on load animations++++++++++++++++++ */

.portfolio-line::-webkit-scrollbar {
    display: none;
}

.p-thumbnail-frame {
    /* width: 50%; */
    height: 100%;
    overflow: hidden;
    border: 0 solid;
    border-width: 0px 3px 0px 0px;
    min-width: 50%;
    position: relative;

    /* margin: 10px; */
}

.project-frame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background-color: #FF6868;
    transition: all .5s;
    z-index: 1;
    opacity: 80%;
    transform: translateY(-100%);

}

.p-thumbnail-frame::before {
    content: "project name";
    position: absolute;
    z-index: 2;
    left: 0%;
    top: 5%;
    color: white;
    opacity: 0;
    transition: all 1s;
    display: inline;
}
.p-thumbnail-frame::after {
    content: "project title";
    position: absolute;
    z-index: 2;
  left: 0%;
    top: 10%;
    color: white;
    font-size: .9rem;
    opacity: 0;
    transition: all 1s;
    display: inline;
}

.project-frame:hover::before {
    transform: translateY(0);

}

.p-thumbnail-frame:hover::before {
    left: 5%;
    opacity: 100;
}
.p-thumbnail-frame:hover::after {
   left: 5%;
    opacity: 100;
}

.thmb-overlay p {
    color: #F5F5F5;
    font-size: 1.5rem;
}


.p-thumbnail-frame img {
    object-fit: cover;
    display: block;
    position: relative;

}

.project-frame {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {

    height: 95%;
    width: 95%;
    /* margin: 10px; */
    overflow: hidden;
    position: relative;
}

.low-bg {
    opacity: 50%;
}

.announcement:hover>#hide {
    background-color: #F61063;
}




/*---------Responsive design----------*/
@media screen and (max-width: 400px)

{
    body{
        background-color: #FF6868;
        color: white;
    }
}
       
 